@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*, html, body {
    margin: 0;
    color: #2D2D2D;
    font-family: "Montserrat", sans-serif;
}
.hero-block{
    background-color: rgba(220, 145, 27, 0.3);
    height: 100%;
    padding-top: 17px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-list {
    display:flex;
    gap: 42px;
    font-weight: bold;
    font-size: 14px;
    & li {
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: #2D2D2D;
    }
}
.block-nav {
    margin-right: 67px;
}
.number-block {
    display:flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}
.block-contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.span-call{
    text-align: end;
    text-decoration: underline dotted #2D2D2D;
    text-underline-position: under;
    text-underline-offset: 1px;
    font-size: 12px;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    & h1 {
        height: 144px;
        width: 448px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.5;
        letter-spacing: 0;
        text-transform: uppercase;
        margin: 0;
        white-space: nowrap;
    }
}


.h1-services {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.block-first-services {
    display: flex;
    align-items: end;
}
.block-first {
    display: flex;
    align-items: center;
    margin-top: 60px;
    position: relative;
    justify-content: center;
    padding-left: 10%;
}
.block-content {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 150px;
    gap: 34px;
    & h1 {
        white-space: nowrap;
    }
}

.btn_idle {
    border: 1px solid #DC911B;
    padding: 11px 26px 11px 26px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    z-index: 100;
}
.btn_idle:hover {
    color: #FFFF;
    background-color: #DC911B;
}

.btn-block {
    display: flex;
    justify-content: flex-end;
}

.block-second {
    margin-top: 95px;
    display: flex;
    /* justify-content: space-around; */
    position: relative;
    padding-top: 4%;
    padding-left: 5%;
}


.block-services{
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/background.svg');
    background-position: center -20%;
    background-repeat: no-repeat;
    height: 100%;
    padding-bottom: 10%;
    margin-top: 10%;
}

.block-third {
    margin-top: 95px;   
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    padding-top: 5%;
    padding-left: 15%;
}
.block-four {
    display: flex;
    margin-top: 103px;
    position: relative;
    padding-left: 10%;
    padding-top: 10%;
}


.sec-recive{
    background-color: #3E3E3D;
    display: flex;
    position: relative;
    padding-bottom: 50px;
    background-image: url('../images/img-recive.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 830px;
    & h1{color: #FFFF;}
}

.block-left{
    display: flex;
    justify-content: flex-start;
    margin-left: 300px;
    padding-top: 125px;
    flex-direction: column;
    text-align: center;

}
.images-recive{
    display: flex;
    justify-content: center;
    gap: 47px;
    margin-top: 100px;
}
.btn-recive{
    padding: 5px 10px 5px 10px;
    background-color: #C4C4C4;
    font-size: 25px;
    border-style: none;
    cursor: pointer;
}

.btn-recive-active{
    padding: 5px 10px 5px 10px;
    background-color: #DC911B;
    font-size: 25px;
    border-style: none;
    cursor: pointer;

}
.buttons-recive{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 40px;
    & a{
        position: absolute;
        text-decoration: none;
        color: #FFFF;
        font-family: 'Roboto', sans-serif;
        right: 2rem;
        bottom: 2%;
        font-size: 18px;
    }
}

.sec-project{
    display: flex;
    justify-content: center;
}
.div-project {
    & h1 {
        margin-bottom: 100px;
        margin-top: 80px;
    }
}

.content-block-project {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.block-project{
    display: flex;
}
.block-name{
    display: flex;
    align-items: flex-end;
    gap: 152px;
    position: relative;

}

.block-name-project{
    width: 556px;
    height: 312px;
    background-color: #DC911B;
    display: flex;
    align-items: center;
    & h1 {
        position: absolute;
        right: 23.5rem;
    }
}

.block-name-project-2{
    width: 556px;
    height: 312px;
    background-image: url('../images/img-bg-project.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    & h1 {
        position: absolute;
        right: 23.5rem;
        white-space: nowrap;
    }
}
.project-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 60px;
    gap: 47px;
    & p {
        width: 230px;
        height: 72px;
        
    }
}
.link-all-project {
    display: flex;
    justify-content: flex-end;
    margin-top: 180px;
    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-weight: 700;
        font-size: 18px;
        text-decoration: none;
    }
}

.sec-news{
    margin-top: 200px;
}
.left-content-news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-news{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.block-news{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.block-content-news{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    gap: 16px;
    & span {
        font-weight: 300;
        font-size: 14px;
        color: #6F6F6E;
    }
    & p {
        font-weight: 400;
        font-size: 16px;
        font-family: 'Robot', sans-serif;
        line-height: 150%;
    }
}

.link-news{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    margin-right: 4rem;
    & a {
        text-decoration: none;
        font-family: 'Robot', sans-serif;
        font-weight: 700;
        font-size: 18px;

    }
}

.sec-questions{
    display: flex;
    justify-content: center;
    background-image: url('../images/bg-questions.svg');
    background-repeat: no-repeat;
    background-position: top;
    height: 25.2rem;
    font-family: "Roboto", sans-serif;
    & h1 {
        font-weight: 700;
        font-size: 24px;
    }
    & p {
        font-weight: 400;
        font-size: 14px;
        color: #000000;
    }
}
.content-qeustions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.form-questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.inp-questions{
    display: flex;
    gap: 3.125rem;
    & input {
        padding: 6px 10px 6px 10px;
        border-style: none;
        outline: none;
        background: none;
        color: #3E3E3D;
        font-weight: 400;
        font-size: 12px;
        font-family: "Scada", sans-serif;
        line-height: 120%;
        border-bottom: #3E3E3D 1px solid;
        
    }
    & input:focus{
        border-bottom: #DC911B 1px solid;
    }
    & input::placeholder{
        opacity: 1;
        color: #3E3E3D;
        font-weight: 400;
        font-size: 12px;
        font-family: "Scada", sans-serif;
        line-height: 120%;
    }
}

.btn-questions{
    padding: 11px 26px 11px 26px;
    border: #DC911B solid 1px;
    border-radius: 5px;
    background: none;
    cursor: pointer;
}
.btn-questions:hover{
    color: white;
    background-color: #DC911B;
    border: #6F6F6E solid 1px;
}



.sec-usefullinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}
.headerline-usefullinfo{
    margin-bottom: 30px;
    text-align: start;
    width: 64%;
}
.blocks-usefull{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.content-block-usefull{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    width: 250px;
    & p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 21px;
    }
}
.btn-link-usefull{
    display: flex;
    justify-content: flex-end;
    width: 64%;

    & a {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
    }
}


.sec-certificate{
    background-color: #3E3E3D;
    display: flex;
    position: relative;
    padding-bottom: 50px;
    background-image: url('../images/img-certificate.png');
    background-repeat: no-repeat;
    background-position: 74rem 1rem;
    background-size: 830px;
    & h1{color: #FFFF;}
}

.block-left{
    display: flex;
    justify-content: flex-start;
    margin-left: 300px;
    padding-top: 125px;
    flex-direction: column;
    text-align: center;

}
.images-certificate{
    display: flex;
    justify-content: center;
    gap: 47px;
    margin-top: 100px;
}
.btn-certificate{
    padding: 5px 10px 5px 10px;
    background-color: #C4C4C4;
    font-size: 25px;
    border-style: none;
    cursor: pointer;
}

.btn-certificate-active{
    padding: 5px 10px 5px 10px;
    background-color: #DC911B;
    font-size: 25px;
    border-style: none;
    cursor: pointer;

}
.buttons-certificate{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 40px;
    & a{
        position: absolute;
        text-decoration: none;
        color: #FFFF;
        font-family: 'Roboto', sans-serif;
        right: 2rem;
        bottom: 2%;
        font-size: 18px;
    }
}




/* адаптив */
@media (max-width: 1024px) {
    .block-first {
        padding-left: 6%;
    }
}

@media (max-width: 768px) {
    .block-first {
        padding-left: 20px;
        padding-right: 20px;
    }
}/* адаптив */
@media (max-width: 1024px) {
    .block-second {
        padding-left: 3%;
        width: 95%;
    }
}

@media (max-width: 768px) {
    .block-second {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
}



/* адаптив */

@media (max-width: 1024px) {
    .block-third {
        padding-left: 8%;
    }
}

@media (max-width: 768px) {
    .block-third {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }
}



@media (max-width: 1024px) {
    .block-four {
        padding-left: 6%;
    }
}

@media (max-width: 768px) {
    .block-four {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
    }
}
@media (min-width: 2000px) {
    .block-third {
        padding-left: 12%;
    }
    .block-second {
        padding-left: 20%;
    }

    .block-four {
        padding-left: 24%;
        padding-top: 4%;
    }
}