@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, html, body {
    margin: 0;
    color: #2D2D2D;
    font-family: "Montserrat", sans-serif;
}
.hero-block{
    background-color: rgba(220, 145, 27, 0.3);
    height: 100%;
    padding-top: 17px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-list {
    display:flex;
    gap: 42px;
    font-weight: bold;
    font-size: 14px;
    & li {
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: #2D2D2D;
    }
}
.block-nav {
    margin-right: 67px;
}
.number-block {
    display:flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}
.block-contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.span-call{
    text-align: end;
    text-decoration: underline dotted #2D2D2D;
    text-underline-position: under;
    text-underline-offset: 1px;
    font-size: 12px;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    & h1 {
        height: 144px;
        width: 448px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.5;
        letter-spacing: 0;
        text-transform: uppercase;
        margin: 0;
        white-space: nowrap;
    }
}


.h1-services {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.block-first-services {
    display: flex;
    align-items: end;
}
.block-first {
    display: flex;
    align-items: center;
    margin-top: 60px;
    position: relative;
    justify-content: center;
    padding-left: 10%;
}
.block-content {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 150px;
    gap: 34px;
    & h1 {
        white-space: nowrap;
    }
}

.btn_idle {
    border: 1px solid #DC911B;
    padding: 11px 26px 11px 26px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    z-index: 100;
}
.btn_idle:hover {
    color: #FFFF;
    background-color: #DC911B;
}

.btn-block {
    display: flex;
    justify-content: flex-end;
}

.block-second {
    margin-top: 95px;
    display: flex;
    /* justify-content: space-around; */
    width: 91%;
    height: 90%;
    position: relative;
    padding-top: 4%;
    padding-left: 5%;
}


.block-services{
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/background.svg');
    background-position: center -20%;
    background-repeat: no-repeat;
    height: 100%;
    padding-bottom: 10%;
    margin-top: 10%;
}

.block-third {
    margin-top: 95px;   
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    padding-top: 5%;
    padding-left: 15%;
}
.block-four {
    display: flex;
    margin-top: 103px;
    /* justify-content: space-around; */
    position: relative;
    padding-left: 10%;
    padding-top: 5%;
}


/* адаптив */
@media (max-width: 1024px) {
    .block-first {
        padding-left: 6%;
    }
}

@media (max-width: 768px) {
    .block-first {
        padding-left: 20px;
        padding-right: 20px;
    }
}/* адаптив */
@media (max-width: 1024px) {
    .block-second {
        padding-left: 3%;
        width: 95%;
    }
}

@media (max-width: 768px) {
    .block-second {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
}

.block-third {
    margin-top: 95px;   
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    padding-top: 5%;
    padding-left: 15%;
}

/* адаптив */

@media (max-width: 1024px) {
    .block-third {
        padding-left: 8%;
    }
}

@media (max-width: 768px) {
    .block-third {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }
}

.block-four {
    display: flex;
    margin-top: 103px;
    position: relative;
    padding-left: 10%;
    padding-top: 5%;
}

@media (max-width: 1024px) {
    .block-four {
        padding-left: 6%;
    }
}

@media (max-width: 768px) {
    .block-four {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
    }
}
@media (min-width: 2000px) {
    .block-third {
        padding-left: 12%;
    }
    .block-second {
        padding-left: 20%;
    }

    .block-four {
        padding-left: 24%;
        padding-top: 4%;
    }
}